{% extends "base.html" %}
{% block content %}
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Bagpiper</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><a href="/">Home</a></li>
	      <li><a href="/news/">Top News</a></li>
	      <!-- <li><a href="#">Page 1</a></li>
	      <li><a href="#">Page 2</a></li> 
	      <li><a href="#">Page 3</a></li>  -->
	    </ul>
	  </div>
	</nav>
    <div class="container-fluid">
    <div style="margin-top:20px;">
    	<h2 class="text-center" style= "text-decoration:underline;"><strong> News Information </strong></h2>
      <hr>
      <div class = "col-md-12">
        <table class="table table-striped table-bordered" id="newstable">
		    <thead>
		      <tr>
		        <th>Key</th>
		        <th>Value</th>
		      </tr>
		    </thead>
		    <tbody>
		    	
		    	<tr>
			        <td>Title</td>
			        <td>{{news.title}}</td>
			    </tr>
			    <tr>
			        <td>URL</td>
			        {% if news.news_url == None %}
			        	<td>{{news.news_url}}</td>
			        {% else %}
			        	<td><a href="{{news.news_url}}" target="_blank">{{news.news_url}}</a></td>
			        {% endif %}
			    </tr>
			    <tr>
			        <td>Type</a></td>
			        <td>{{news.type}}</td>
			    </tr>
			    <tr>
			        <td>Uploader</td>
			        <td>{{news.username_uploader}}</td>
			    </tr>
			    <tr>
			        <td>Score</td>
			        <td>{{news.score}}</td>
			    </tr>
			    <tr>
			        <td>Sentimental</td>
			        {% if news.sentimental == 'neutral' %}
			        	<td><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Neutral</td>
			        {% elif news.sentimental == 'neg' %}
			        	<td style="color:red;"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Negative</td>
			        {% elif news.sentimental == 'pos' %}
			        	<td style="color:green;"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Positive</td>
			        {% endif %}
			    </tr>  
			    <tr>
			        <td>Positive Sentimental Probability</td>
			        <td>{{news.sent_positive|floatformat:2}}</td>
			    </tr>
			    <tr>
			        <td>Negative Sentimental Probability</td>
			        <td>{{ news.sent_negative|floatformat:2 }}</td>
			    </tr>
			    <tr>
			        <td>Neutraltive Sentimental Probability</td>
			        <td>{{ news.sent_neutral|floatformat:2 }}</td>
			    </tr> 
		    </tbody>
		  </table>
      </div>
      
    </div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
 {% endblock content %}