{% extends "base.html" %}
{% block content %}
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Bagpiper</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="/">Home</a></li>
	      <li><a href="/news/">Top News</a></li>
	      <!-- <li><a href="#">Page 1</a></li>
	      <li><a href="#">Page 2</a></li> 
	      <li><a href="#">Page 3</a></li>  -->
	    </ul>
	  </div>
	</nav>
    <div class="container-fluid">
    <div style="margin-top:20px;">
    	<h3 class="text-center"> Home </h3>
      
      <div class = "col-md-12">
        <h1 class="text-center" style="color:green;"> Wel-come to Bagpiper</h1>
        <div class="text-center">
        	<img src="http://www.publicdomainpictures.net/pictures/120000/velka/scottish-bagpipe.jpg" align="middle" class="text-center" width="300px;" height="300px;">
        </div>
        
      </div>
      
    </div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
/*   $(document).ready(function(){
	    $('#newstable').DataTable();
	}); */
  </script>
{% endblock content %}